<!-- accounts.html -->
<table>
    <thead>
        <tr>
            <th>Tên</th>
            <th>Email</th>
            <th>Tên đăng nhập</th>
            <th>Ngày đăng ký</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{ account.Name }}</td>
            <td>{{ account.Email }}</td>
            <td>{{ account.Username }}</td>
            <td>{{ account.RegistrationDate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>